#cube3-container {
	position: absolute;
	top: 36%;
	right: 34%;
}

#cube3 {
	position: relative;
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	animation: AnimCube 5s linear infinite;
	transform-style: preserve-3d;
	-webkit-animation: AnimCube 15s linear infinite;
	-webkit-transform-style: preserve-3d;
	-moz-animation: AnimCube 15s linear infinite;
	-moz-transform-style: preserve-3d;
	-o-animation: AnimCube 15s linear infinite;
	-o-transform-style: preserve-3d;
	-ms-animation: AnimCube 15s linear infinite;
	-ms-transform-style: preserve-3d;
}

#cube3 .cote1 {
	background-image: url(../img/face-1.png);
    background-color: #ff9c14;
    border-color:#ff9c14;
    background-size: 100%;
	z-index: 10;
}

#cube3 .cote2 {
    background-image: url(../img/face-2.png);
    background-color: #ff9c14;
    border-color:#ff9c14;
	background-size: 100%;
	transform: translateZ(-50px) translateX(50px) rotateY(90deg);
	-webkit-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
	-moz-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
	-o-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
	-ms-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
}

#cube3 .cote3 {
    background-color: #ff9c14;
    border-color:#ff9c14;
	background-size: 100%;
	transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
	-webkit-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
	-moz-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
	-o-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
	-ms-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
}

#cube3 .cote4 {
    background-image: url(../img/face-4.png);
    background-color: #ff9c14;
    border-color:#ff9c14;
	background-size: 100%;
	transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
	-webkit-transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
	-moz-transform: translateZ(-50px) translateY(50px) rotateX(90deg);
	-o-transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
	-ms-transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
}

#cube3 .cote5 {
    background-color: #ff9c14;
    border-color:#ff9c14;
	background-size: 100%;
	transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
	-webkit-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
	-moz-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
	-o-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
	-ms-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
}

#cube3 .cote6 {
    background-color: #ff9c14;
    border-color:#ff9c14;
	background-size: 100%;
	transform: translateZ(-100px);
	-webkit-transform: translateZ(-100px);
	-moz-transform: translateZ(-100px);
	-o-transform: translateZ(-100px);
	-ms-transform: translateZ(-100px);
}

@keyframes AnimCube {
	from {}
	to {
		transform-origin: 50% 50%;
		transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
	}
}

@-webkit-keyframes AnimCube {
	from {}
	to {
		-webkit-transform-origin: 50% 50%;
		-webkit-transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
	}
}

@-moz-keyframes AnimCube {
	from {}
	to {
		-moz-transform-origin: 50% 50%;
		-moz-transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
	}
}

@-o-keyframes AnimCube {
	from {}
	to {
		-o-transform-origin: 50% 50%;
		-o-transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
	}
}

@-ms-keyframes AnimCube {
	from {}
	to {
		-ms-transform-origin: 50% 50%;
		-ms-transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
	}
}