#cube1-container {
    position: absolute;
    top: 7%;
    left: 37%;
}

#cube1 {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cube1.inMotionCube1 {
    animation: AnimCube1 5s linear infinite;
    transform-style: preserve-3d;
    -webkit-animation: AnimCube1 15s linear infinite;
    -webkit-transform-style: preserve-3d;
    -moz-animation: AnimCube1 15s linear infinite;
    -moz-transform-style: preserve-3d;
    -o-animation: AnimCube1 15s linear infinite;
    -o-transform-style: preserve-3d;
    -ms-animation: AnimCube1 15s linear infinite;
    -ms-transform-style: preserve-3d;
}

#cube1 .cote1 {
    background-color: silver;
    z-index: 10;
}

#cube1 .cote2 {
    background-image: url(../img/gris-1.png);
    background-size: 100%;
    transform: translateZ(-50px) translateX(50px) rotateY(90deg);
    -webkit-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
    -moz-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
    -o-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
    -ms-transform: translateZ(-50px) translateX(50px) rotateY(90deg);
}

#cube1 .cote3 {
    background-image: url(../img/gris-1.png);
    background-size: 100%;
    transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
    -webkit-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
    -moz-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
    -o-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
    -ms-transform: translateZ(-50px) translateX(-50px) rotateY(-90deg);
}

#cube1 .cote4 {
    background-image: url(../img/gris-1.png);
    background-size: 100%;
    transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
    -webkit-transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
    -moz-transform: translateZ(-50px) translateY(50px) rotateX(90deg);
    -o-transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
    -ms-transform: translateZ(-50px) translateY(50px) rotateX(-90deg);
}

#cube1 .cote5 {
    background-image: url(../img/bg2.png);
    background-size: 100%;
    transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
    -webkit-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
    -moz-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
    -o-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
    -ms-transform: translateZ(-50px) translateY(-50px) rotateX(90deg);
}

#cube1 .cote6 {
    background-image: url(../img/bg2.png);
    background-size: 100%;
    transform: translateZ(-100px);
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
    -ms-transform: translateZ(-100px);
}

@keyframes AnimCube1 {
    from {}
    to {
        transform-origin: 50% 50%;
        transform: rotateZ(180deg) rotateY(-180deg) rotateX(-180deg);
    }
}

@-webkit-keyframes AnimCube1 {
    from {}
    to {
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: rotateZ(180deg) rotateY(-180deg) rotateX(-180deg);
    }
}

@-moz-keyframes AnimCube1 {
    from {}
    to {
        -moz-transform-origin: 50% 50%;
        -moz-transform: rotateZ(180deg) rotateY(-180deg) rotateX(-180deg);
    }
}

@-o-keyframes AnimCube1 {
    from {}
    to {
        -o-transform-origin: 50% 50%;
        -o-transform: rotateZ(180deg) rotateY(-180deg) rotateX(-180deg);
    }
}

@-ms-keyframes AnimCube1 {
    from {}
    to {
        -ms-transform-origin: 50% 50%;
        -ms-transform: rotateZ(180deg) rotateY(-180deg) rotateX(-180deg);
    }
}