<div id="cube1-container" class="cube">
	<div id="cube1">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>
<div id="cube2-container" class="cube">
	<div id="cube2">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>