<div drag id="cube1-container" class="cube" ng-click="cubeClicked(0)" ng-touch="cubeClicked(0)">
	<div id="cube1" ng-hide="inMotionCube1" ng-class="{inMotionCube1: !inMotionCube1}">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>

<div drag id="cube2-container" class="cube" ng-click="cubeClicked(1)" ng-touch="cubeClicked(1)">
	<div id="cube2" ng-hide="inMotionCube2" ng-class="{inMotionCube2: !inMotionCube2}">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>

<div drag id="cube3-container" class="cube" ng-click="cubeClicked(2)" ng-touch="cubeClicked(2)">
	<div id="cube3" ng-hide="inMotionCube3" ng-class="{inMotionCube3: !inMotionCube3}">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>

<div drag id="cube4-container" class="cube" ng-click="cubeClicked(3)" ng-touch="cubeClicked(3)">
	<div id="cube4" ng-hide="inMotionCube4" ng-class="{inMotionCube4: !inMotionCube4}">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>

<div drag id="cube5-container" class="cube" ng-click="cubeClicked(4)" ng-touch="cubeClicked(4)">
	<div id="cube5" ng-hide="inMotionCube5" ng-class="{inMotionCube5: !inMotionCube5}">
		<div class="cote6 face"></div>
		<div class="cote5 face"></div>
		<div class="cote4 face"></div>
		<div class="cote3 face"></div>
		<div class="cote2 face"></div>
		<div class="cote1 face"></div>
	</div>
</div>