<div>
    <p>Le Maroc est un pays ou l’Art et la culture se confonde, une véritable invitation au voyage, un parfum de la rencontre qui se donne en partage sur plusieurs notes.</p>

    <h2>Un artisanat à la recherche du beau</h2>
    <p>Un artisanat aux mille et une facettes, où l’objet pris dans sa dimension humaine est le témoignage le plus authentique de la recherche du beau. </p>
    <ul>Pour plus de détails :
        <li>
            <a href="#">www.maisonartisan.ma</a>
        </li>
        <li><a href="#">www.odco.gov.ma</a>
        </li>
        <li><a href="#">www.label-artisanat.ma</a>
        </li>
    </ul>

    <h2>Un art culinaire fruit de multiples influences</h2>
    <p>Reconnue comme un art, la cuisine marocaine est le fruit des influences phénicienne, carthaginoise, romaine, arabe, andalouse, turcs, française et reste ouverte à d’autres...</p>

    <h2>Un Patrimoine matériel et immatériel, d'une grande richesse</h2>
    <ul>Pour plus de détails :
        <li>
            <a href="http://www.minculture.gov.ma/fr/index.php?option=com_content&view=article&id=61&Itemid=133">Le Maroc et ses sites et monuments classés</a>
        </li>
    </ul>

    <h2>Une création contemporaine qui se métisse et crée sa propre signature </h2>
    <p>Qu'il s'agisse des arts plastiques, de la littérature, du cinéma, de la vidéo, du théâtre, de l'architecture, de la mode ou de la musique, l'Art contemporain au Maroc, exprime les contradictions d’une société ouverte au monde qui construit sa signature.</p>
    <ul>Pour plus de détails :
        <li>
            <a href="http://www.museemohammed6.ma/#section/1">Musée art contemporain</a>
        </li>
        <li>Festivals
            <ul>
                <li><a href="http://www.festival-gnaoua.net/">Festival d'Essaouira</a>
                </li>
                <li><a href="http://www.fesnet.ma/festivals/imilchil">Festival d'Imilchil</a>
                </li>
                <li><a href="http://www.fesnet.ma/fesfestival">Festival des musiques sacrées du monde</a>
                </li>
                <li><a href="http://www.festivalmawazine.ma/">Festival Mawazine</a>
                </li>
                <li><a href="http://www.festivalmarrakech.info/">Festival de Marrakech</a>
                </li>
            </ul>
        </li>
        <li><a href="http://www.maroc.ma/PortailInst/fr/">Portail national du Maroc</a>
        </li>
        <li><a href="http://www.minculture.gov.ma/fr/index.php?option=com_content&view=frontpage&Itemid=143">Ministère de la Culture</a>
        </li>
        <li><a href="http://www.topbladi.com/">Top Bladi</a>
        </li>
        <li><a href="http://www.ambafrance-ma.org/institut/">Le Réseau Culturel Français au Maroc</a>
        </li>
    </ul>
</div>