<div ng-controller="cube5Ctrl">
    <div drag id="page-cube5-container" class="cube" ng-click="cubeClicked(4)" ng-touch="cubeClicked(4)">
        <div id="cube5" ng-hide="inMotionCube5" ng-class="{inMotionCube5: !inMotionCube5}">
            <div class="cote6 face"></div>
            <div class="cote5 face"></div>
            <div class="cote4 face"></div>
            <div class="cote3 face"></div>
            <div class="cote2 face"></div>
            <div class="cote1 face"></div>
        </div>
    </div>
    <h1 class="title" ng-show="title">Maroc, un pays Moderne et tourné vers l’avenir</h1>
    <p class="intro" ng-show="p1">Malgré le Printemps arabe et la crise économique mondiale, le Maroc préserve la stabilité de son régime et l'attractivité de son économie.</p>

    <div class="part" ng-show="part1">
        <h2 class="acc" ng-show="p2">Un pays à la position stratégique exceptionnelle</h2>
        <p class="acc" ng-show="p3">Situé à l'extrême nord-ouest du continent africain et à 15 kilomètre de l'Europe par le Détroit de Gibraltar, le Royaume du Maroc est une plate-forme stratégique, tant sur le plan politico-économique que culturel et une porte privilégiée sur l'Afrique, l’Europe et le moyen orient. </p>

        <h2 class="acc" ng-show="p4">Un pays au marché potentiel important</h2>
        <p class="acc" ng-show="p5">Des accords de libre-échange qui permettent d’accéder en franchise de droit à un marché d'un milliard de consommateurs !</p>
        <img id="carteCube5" src="img/carte.png" class="acc" ng-show="p5">
    </div>

    <div class="part" ng-show="part2">
        <h2 class="acc" ng-show="part2">Un pays qui a initié des stratégies pour s’adapter aux nouvelles donnes mondiales </h2>
        <p class="acc" ng-show="part2">Le Royaume, plaçant le développement durable au cœur de sa stratégie économique, s’est doté de plusieurs programmes dans des secteurs clés. </p>
    </div>

    <div class="part" ng-show="part3">
        <h3 class="strategy acc" ng-show="part3">Le Pacte National pour l'Emergence Industrielle (PNEI)</h3>

        <p class="acc" ng-show="p7">Une ambition de rendre les PME marocaines plus compétitives par la création de zones et plateformes industrielles dédiées.</p>
        <p class="acc" ng-show="p8">L’accent est mis sur les Métiers Mondiaux du Maroc (MMM), tels l'automobile, l'aéronautique, l'électronique, l'offshoring, l'agroalimentaire,…</p>
        <div class="acc en-savoir-plus" ng-show="p9">
            <div>En savoir plus :</div>
            <ul>
                <li>
                    <a href="www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen">
            www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen
            </a>
                </li>
                <li>
                    <a href="http://www.invest.gov.ma/">
            http://www.invest.gov.ma/
            </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="part" ng-show="part4">
        <h3 class="strategy acc" ng-show="p10">La charte de l'environnement et du développement durable (CNEDD)</h3>
        <p class="acc" ng-show="p11">Un grand projet de société qui fait de la protection de l’environnement le fer de lance du développement durable du Royaume. </p>
        <div class="acc en-savoir-plus" ng-show="p12">
            <div>En savoir plus :</div>
            <ul>
                <li>
                    <a href="http://www.environnement.gov.ma/PDFs/CNE_charte_VF.pdf">
            Plaquette de la CNEDD
            </a>
                </li>
                <li>
                    <a href="http://www.environnement.gov.ma/PDFs/operationnalisation_fr.pdf">
            Rapport opérationnalisation charte
            </a>
                </li>
                <li>
                    <a href="http://www.chartenvironnement.ma/">
           Site web de la CNEDD
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part5">
        <h3 class="strategy acc" ng-show="p13">Le plan Maroc Vert</h3>
        <p class="acc" ng-show="p14">Un plan pour accompagner les secteurs agricole et agro-industriel qui se trouvent au cœur de la sécurité alimentaire de 32 millions de consommateurs.</p>
        <div class="acc en-savoir-plus" ng-show="p15">
            <div>En savoir plus :</div>
            <ul>
                <li>
                    <a href="http://www.agriculture.gov.ma/pages/la-strategie">
            Le Ministère de l'Agriculture et de la Pêche Maritime
            </a>
                </li>
                <li>
                    <a href="http://www.service-public.ma/web/guest/home">
           Le Portail des Services Publics
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part6">
        <h3 class="strategy acc" ng-show="p16">Le Plan Halieutis</h3>
        <p class="acc" ng-show="p17">Un plan qui vise le développement du secteur halieutique tout en pérennisant les ressources pour les générations futures et en maintenant une sécurité sur les plans de l’hygiène et de la santé.</p>
        <div class="acc en-savoir-plus" ng-show="p18">
            <div>En savoir plus :</div>
            <ul>
                <li>
                    <a href="http://www.salonhalieutis.com/">
            Le Salon Halieutis
            </a>
                </li>
                <li>
                    <a href="http://www.mpm.gov.ma/">
           Le Ministère de l'Agriculture et de la Pêche Maritime - Département de la Pêche Maritime
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part7">
        <h3 class="strategy acc" ng-show="p19">Le Plan Solaire</h3>
        <p class="acc" ng-show="p20">Un projet qui mise sur le développement des énergies renouvelables et sur le développement durable. </p>
        <div class="acc en-savoir-plus" ng-show="p21">
            <div>En savoir plus :</div>
            <ul>
                <li>
                    <a href="http://masen.org.ma/index.php?Id=undefined&lang=fr#/___accueil">
            l’Agence Marocaine pour l’Energie Solaire
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part8">
        <h3 class="strategy acc" ng-show="p22">Le plan Maroc numérique e-Gouvernement (technologies de l'information et de la communication)</h3>
        <p class="acc" ng-show="p23">Un plan mis en place pour une administration électronique totalement orientés au service du citoyen et de l’entreprise.</p>
        <div class="acc en-savoir-plus" ng-show="p24">
            <div>En savoir plus :</div>
            <ul>
                <li>
                    <a href="http://www.egov.ma">
            Le Portail E-Gouvernement
            </a>
                </li>
                <li>
                    <a href="http://www.service-public.ma/web/guest/home">
            Le Portail des Services Publics
            </a>
                </li>
                <li>
                    <a href="http://www.mmsp.gov.ma/">
            Le Site du Ministère de la Fonction Publique et de la Modernisation de l'Administration
            </a>
                </li>
                <li>
                    <a href="https://twitter.com/Maroc_eGov">
            Le compte Twitter E-GOV
            </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/egovmaroc">
            La page Facebook E-GOV
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part9">
        <h3 class="strategy acc" ng-show="p25">L’Agence Nationale pour la Promotion de la Petite et Moyenne Entreprise (ANPME)</h3>

        <p class="acc" ng-show="p26">Une agence dédiée aux PME qu’elle accompagne dans leur processus de modernisation et d’amélioration de leur compétitive.</p>
        <div class="acc en-savoir-plus" ng-show="p27">
            <div>En savoir plus :</div>
            <ul>
                <li><a href="http://www.anpme.ma/">http://www.anpme.ma/</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part10">
        <h3 class="strategy acc" ng-show="p28">L’Initiative Nationale pour le Développement Humain (INDH)</h3>
        <p class="acc" ng-show="p29">L’INDH est l’instrument de lutte contre la pauvreté, la précarité et l’exclusion sociale.</p>
        <div class="acc en-savoir-plus" ng-show="p30">
            <div>En savoir plus :</div>
            <ul>
                <li><a href="http://www.indh.gov.ma/fr/index.asp">
            L'Initiative Nationale Pour le Développement Humain</a>
                </li>
                <li><a href="http://www.social.gov.ma/fr/Index.aspx?mod=5&rub=56&srub=59">
            Le Ministère de la Solidarité, de la Femme de la Famille et du Développement Social</a>
                </li>
            </ul>
        </div>
    </div>
</div>