<div>
	<h2>Un modèle religieux imprégné de tolérance…</h2>
	<p>Son modèle religieux démontre avec force que traditions et islam ne s'opposent pas à la modernité et au développement de la démocratie.</p>

	<h2>Les RME, une communauté ambassadrice de  notre culture</h2>

	<p>A l’instar d’Ibn Batouta, cet explorateur marocain du 12ème siècle  qui a parcouru en une vie 120 000 Kms, nos compatriotes aujourd’hui, ont émigrés vers le vaste monde créant une communauté qui est une valeur forte.</p>
	<p>Ces explorateurs d’un autre genre partent à la découverte d’un nouveau pays et deviennent les ambassadeurs de notre culture, de nos valeurs de partage et de tolérance.</p>
	<p>Pour plus de détails :</p>
	<p>www.marocainsdumonde.gov.ma/</p>

</div>