<div id="cube2-data-container" ng-controller="cube2Ctrl">
	<div drag id="page-cube2-container" class="cube">
		<div id="cube2" ng-hide="inMotionCube2" ng-class="{inMotionCube2: !inMotionCube2}">
			<div class="cote6 face"></div>
			<div class="cote5 face"></div>
			<div class="cote4 face"></div>
			<div class="cote3 face"></div>
			<div class="cote2 face"></div>
			<div class="cote1 face"></div>
		</div>
	</div>
	<h1 ng-show="title" class="title">Maroc, un pays où l’hospitalité révèle un Art de vivre</h1>
	<div class="col-md-8">
		<h2 class="acc" ng-show="p1">Une terre  d’hospitalité et de rencontres.</h2>
		<p class="acc" ng-show="p2">Terre d’accueil et de rencontres, le Maroc a érigé l’hospitalité en un art de vivre. Un geste de générosité, de solidarité, de partage et de tolérance.</p>

		<h2 class="acc" ng-show="p3">Un tourisme qui perpétue sa tradition d’accueil.</h2>
		<p class="acc" ng-show="p4">Terre d’accueil et de rencontres, le Maroc a érigé l’hospitalité en un art de vivre. Un geste de générosité, de solidarité, de partage et de tolérance.</p>
		<p class="acc" ng-show="p5"><strong>Le plan Azur</strong> Terre d’accueil et de rencontres, le Maroc a érigé l’hospitalité en un art de vivre. Un geste de générosité, de solidarité, de partage et de tolérance.</p>
		<div class="acc en-savoir-plus" ng-show="p6">
			<div>En savoir plus</div>
			<ul>
				<li>
					<a href="http://www.tourisme.gov.ma/francais/2-Vision2010-Avenir/2-chantiers/2-Produit/produit_balneaire.htm">
            Le Ministère du Tourisme du Maroc
            </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="img-container col-md-4">
		<img class="acc" src="img/cube2.jpg" width="100%" ng-show="p6">
	</div>
</div>