<div id="cube4-data-container" ng-controller="cube4Ctrl">
    <div drag id="page-cube4-container" class="cube" ng-click="cubeClicked(3)" ng-touch="cubeClicked(3)">
        <div id="cube4" ng-hide="inMotionCube4" ng-class="{inMotionCube4: !inMotionCube4}">
            <div class="cote6 face"></div>
            <div class="cote5 face"></div>
            <div class="cote4 face"></div>
            <div class="cote3 face"></div>
            <div class="cote2 face"></div>
            <div class="cote1 face"></div>
        </div>
    </div>
    <h1 class="title" ng-show="title">{{ 'CUBE4_TITLE' | translate}}</h1>
    <h2 class="acc" ng-show="p1">{{ 'TOLERANCE_TITLE' | translate}}</h2>
    <p class="acc" ng-show="p2">{{ 'TOLERANCE_TEXT' | translate}}</p>

    <h2 class="acc" ng-show="p3">{{ 'RME_TITLE' | translate}}</h2>
    <p class="acc" ng-show="p4">{{ 'RME_TEXT1' | translate}}</p>
    <p class="acc" ng-show="p5">{{ 'RME_TEXT2' | translate}}</p>
    <div class="acc en-savoir-plus" ng-show="p6">
        <div>{{ 'EN_SAVOIR_PLUS' | translate}}</div>
        <ul>
            <li>
                <a href="www.marocainsdumonde.gov.ma">
            www.marocainsdumonde.gov.ma
            </a>
            </li>
        </ul>
    </div>
</div>