<div ng-controller="cube5Ctrl">
    <div drag id="page-cube5-container" class="cube" ng-click="cubeClicked(4)" ng-touch="cubeClicked(4)">
        <div id="cube5" ng-hide="inMotionCube5" ng-class="{inMotionCube5: !inMotionCube5}">
            <div class="cote6 face"></div>
            <div class="cote5 face"></div>
            <div class="cote4 face"></div>
            <div class="cote3 face"></div>
            <div class="cote2 face"></div>
            <div class="cote1 face"></div>
        </div>
    </div>
    <h1 class="title" ng-show="title">{{'CUBE5_TITLE' | translate}}</h1>
    <p class="intro" ng-show="p1">{{'CUBE5_INTRO' | translate}}</p>

    <div class="part" ng-show="part1">
        <h2 class="acc" ng-show="p2">{{'POS_STRAT_TITLE' | translate}}</h2>
        <p class="acc" ng-show="p3">{{'POS_STRAT_TEXT' | translate}}</p>

        <h2 class="acc" ng-show="p4">{{'MARCHE_IMPORTANT_TITLE' | translate}}</h2>
        <p class="acc" ng-show="p5">{{'MARCHE_IMPORTANT_TEXT' | translate}}</p>
        <img id="carteCube5" src="img/carte.png" class="acc" ng-show="p5">
    </div>

    <div class="part" ng-show="part2">
        <h2 class="acc" ng-show="part2">{{'STRATEGIES_TITLE' | translate}}</h2>
        <p class="acc" ng-show="part2">{{'STRATEGIES_TEXT' | translate}}</p>
    </div>

    <div class="part" ng-show="part3">
        <h3 class="strategy acc" ng-show="part3">{{'STRAT_PNEI' | translate}}</h3>

        <p class="acc" ng-show="p7">{{'STRAT_PNEI_TEXT1' | translate}}</p>
        <p class="acc" ng-show="p8">{{'STRAT_PNEI_TEXT2' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p9">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li>
                    <a href="www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen">
            www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen
            </a>
                </li>
                <li>
                    <a href="http://www.invest.gov.ma/">
            http://www.invest.gov.ma/
            </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="part" ng-show="part4">
        <h3 class="strategy acc" ng-show="p10">{{'STRAT_CNEDD' | translate}}</h3>
        <p class="acc" ng-show="p11">{{'STRAT_CNEDD_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p12">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li>
                    <a href="http://www.environnement.gov.ma/PDFs/CNE_charte_VF.pdf">
            {{'A_CNEDD_PLAQUETTE' | translate}}
            </a>
                </li>
                <li>
                    <a href="http://www.environnement.gov.ma/PDFs/operationnalisation_fr.pdf">
             {{'A_CNEDD_RAPPORT' | translate}}
            </a>
                </li>
                <li>
                    <a href="http://www.chartenvironnement.ma/">
           {{'A_CNEDD_WEBSITE' | translate}}
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part5">
        <h3 class="strategy acc" ng-show="p13">{{'STRAT_MV' | translate}}</h3>
        <p class="acc" ng-show="p14">{{'STRAT_MV_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p15">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li>
                    <a href="http://www.agriculture.gov.ma/pages/la-strategie">
            {{'A_MINISTERE_AGR' | translate}}
            </a>
                </li>
                <li>
                    <a href="http://www.service-public.ma/web/guest/home">
           {{'A_PORTAIL_SP' | translate}}
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part6">
        <h3 class="strategy acc" ng-show="p16">{{'STRAT_HALIEUTIS' | translate}}</h3>
        <p class="acc" ng-show="p17">{{'STRAT_HALIEUTIS_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p18">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li>
                    <a href="http://www.salonhalieutis.com/">
            {{'A_SALON_HALIEUTIS' | translate}}
            </a>
                </li>
                <li>
                    <a href="http://www.mpm.gov.ma/">
           {{'A_MINISTERE_AGR_PECHE' | translate}}
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part7">
        <h3 class="strategy acc" ng-show="p19">{{'STRAT_PS' | translate}}</h3>
        <p class="acc" ng-show="p20">{{'STRAT_PS_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p21">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li>
                    <a href="http://masen.org.ma/index.php?Id=undefined&lang=fr#/___accueil">
            {{'A_AGENCE_ES' | translate}}
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part8">
        <h3 class="strategy acc" ng-show="p22">{{'STRAT_PN_EGOV' | translate}}</h3>
        <p class="acc" ng-show="p23">{{'STRAT_PN_EGOV_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p24">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li>
                    <a href="http://www.egov.ma">
            {{'A_PORTAIL_EGOV' | translate}}
            </a>
                </li>
                <li>
                    <a href="http://www.service-public.ma/web/guest/home">
                        {{'A_PORTAIL_SERVICE_PUBLIQUE' | translate}}
            </a>
                </li>
                <li>
                    <a href="http://www.mmsp.gov.ma/">
             {{'A_MINISTERE_FPUB' | translate}}
            </a>
                </li>
                <li>
                    <a href="https://twitter.com/Maroc_eGov">
            {{'A_TWITTER_EGOV' | translate}}
            </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/egovmaroc">
            {{'A_FACEBOOK_EGOV' | translate}}
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part9">
        <h3 class="strategy acc" ng-show="p25">{{'STRAT_ANPME' | translate}}</h3>

        <p class="acc" ng-show="p26">{{'STRAT_ANPME_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p27">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li><a href="http://www.anpme.ma/">http://www.anpme.ma/</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="part" ng-show="part10">
        <h3 class="strategy acc" ng-show="p28">{{'STRAT_INDH' | translate}}</h3>
        <p class="acc" ng-show="p29">{{'STRAT_INDH_TEXT' | translate}}</p>
        <div class="acc en-savoir-plus" ng-show="p30">
            <div>{{'EN_SAVOIR_PLUS' | translate}}</div>
            <ul>
                <li><a href="http://www.indh.gov.ma/fr/index.asp">
            {{'A_INI_DEV_HUMAIN' | translate}}</a>
                </li>
                <li><a href="http://www.social.gov.ma/fr/Index.aspx?mod=5&rub=56&srub=59">
            {{'A_MINISTERE_SOLIDARITE' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>