<div>
	<h2>Une terre  d’hospitalité et de rencontres.</h2>
	<p>Terre d’accueil et de rencontres, le Maroc a su ériger l’hospitalité en un véritable art de vivre. Un geste de générosité, de solidarité et de tolérance qui vous fait vivre d’authentiques moments de partage.</p>

	<h2>Un tourisme qui perpétue sa tradition d’accueil.</h2>
	<p>Le tourisme marocain est marqué d’authenticité, de diversité, de qualité et de durabilité et s’impose comme une référence du pourtour méditerranéen.</p>
	<p><strong>Le plan Azur</strong> fut érigé afin de créer une série de structures hôtelières de qualité, qui respectent les principes de développement durable vu dans ses aspects environnemental, économique et socioculturel.</p>
</div>