<div>
	<p>Le Maroc est un pays ou l’Art et la culture se confonde, une véritable invitation au voyage, un parfum de la rencontre qui se donne en partage sur plusieurs notes.</p>
	<h2>Un artisanat à la recherche du beau</h2>
	<p>Un artisanat aux mille et une facettes, où l’objet pris dans sa dimension humaine est le témoignage le plus authentique de la recherche du beau.</p>

	<h2>Un art culinaire fruit de multiples influences</h2>

	<p>Reconnue comme un art, la cuisine marocaine est le fruit des influences phénicienne, carthaginoise, romaine, arabe, andalouse, turcs, française et reste ouverte à d’autres.</p>


	<h2>Une création contemporaine qui se métisse et crée sa propre signature </h2>

	<p>Qu'il s'agisse des arts plastiques, de la littérature, du cinéma, de la vidéo, du théâtre, de l'architecture, de la mode ou de la musique, l'Art contemporain au Maroc, exprime les contradictions d’une société reliée à la plus haute histoire par son patrimoine qui subit le choc de la modernité et construit sa signature.</p>

</div>