<div>
	<h1>Maroc, un pays Moderne et tourné vers l’avenir</h1>
	<p>Malgré le Printemps arabe et la crise économique mondiale, le Maroc préserve la stabilité de son régime et l'attractivité de son économie.</p>
	<h2>Un pays à la position stratégique exceptionnelle …</h2>
	<p>Situé à l'extrême nord-ouest du continent africain et à 15 kilomètre de l'Europe par le Détroit de Gibraltar, le Royaume du Maroc est une plate-forme stratégique, tant sur le plan politico-économique que culturel et une porte privilégiée sur l'Afrique, l’Europe et le moyen orient. </p>

	<h2>Un pays au marché potentiel important</h2>
	<p>Des accords de libre-échange qui permettent d’accéder en franchise de droit à un marché d'un milliard de consommateurs !</p>
	<img src="img/carte.png" style="align:center">

	<h2>Un pays qui a initié des stratégies pour s’adapter aux nouvelles donnes mondiales </h2>
	<p>Le Royaume, plaçant le développement durable au cœur de sa stratégie économique, s’est doté de plusieurs programmes dans des secteurs clés. </p>

	<h3 class="strategy">- Le Pacte National pour l'Emergence Industrielle (PNEI)</h3>

	<p>Une ambition de rendre les PME marocaines plus compétitives par la création de zones et plateformes industrielles dédiées.</p>
	<p>L’accent est mis sur les Métiers Mondiaux du Maroc (MMM), tels l'automobile, l'aéronautique, l'électronique, l'offshoring, l'agroalimentaire,…</p>
	<ul>Pour plus de détails :
		<li>
			<a href="www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen">
            www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen
            </a>
		</li>
		<li>
			<a href="http://www.invest.gov.ma/">
            http://www.invest.gov.ma/
            </a>
		</li>
	</ul>


	<h3 class="strategy">- La charte de l'environnement et du développement durable (CNEDD).<h3>

	<p>Un grand projet de société qui fait de la protection de l’environnement le fer de lance du développement durable du Royaume. </p>
            
	<ul>Pour plus de détails :
        <li>
            <a href="www.finances.gov.ma/fr/Pages/Stratégies/Pacte-National-pour-l’Emergen">
            Plaquette de la CNEDD
            </a>
        </li>
        <li>
            <a href="http://www.invest.gov.ma/">
            Rapport opérationnalisation charte
            </a>
        </li>
        <li>
            <a href="http://www.invest.gov.ma/">
           Site web de la CNEDD
            </a>
        </li>
    </ul>


        <h3 class="strategy">Le plan Maroc Vert</h3>

	<p>Un plan pour accompagner les secteurs agricole et agro-industriel qui se trouvent au cœur de la sécurité alimentaire de 32 millions de consommateurs</p>

	<p>Pour plus de détails</p>

	<p><a href="#">Le Ministère de l'Agriculture et de la Pêche Maritime</a>
	</p>

	<p><a href="#">Le Portail des Services Publics</a>
	</p>

	<h4>- Le Plan Halieutis</h4>

	<p>Un plan qui vise le développement du secteur halieutique tout en pérennisant les ressources pour les générations futures et en maintenant une sécurité sur les plans de l’hygiène et de la santé.</p>

	<p>Pour plus de détails :</p>

	<p><a href="#">Le Salon Halieutis</a>
	</p>

	<p><a href="#">Le Ministère de l'Agriculture et de la Pêche Maritime - Département de la Pêche Maritime</a>
	</p>

	<h4>- Le Plan Solaire</h4>

	<p>Un projet qui s’inscrit dans le cadre de la stratégie énergétique du Maroc, qui mise sur le développement des énergies renouvelables et sur le développement durable. </p>

	<p>Pour plus de détails</p>

	<p><a href="#"> l’Agence Marocaine pour l’Energie Solaire</a>
		<p>

			<h4>- Le plan Maroc numérique e-Gouvernement (technologies de l'information et de la communication)</h4>

			<p>Un plan mis en place pour une administration électronique totalement orientés au service du citoyen et de l’entreprise. </p>

			<p>Pour plus de détails :</p>

			<p>Le Portail E-Gouvernement</a>
			</p>

			<p><a href="#"> Le Portail des Services Publics</a>
			</p>

			<p><a href="#"> Le Site du Ministère de la Fonction Publique et de la Modernisation de l'Administration</a>
			</p>

			<p><a href="#"> Le compte Twitter E-GOV</a>
			</p>

			<p><a href="#"> La page Facebook E-GOV</a>
			</p>

			<h4>- L’Agence Nationale pour la Promotion de la Petite et Moyenne Entreprise (ANPME)</h4>

			<p>Une agence dédiée aux entreprises qu’elle accompagne dans leur processus de modernisation et d’amélioration de leur compétitive.</p>

			<p>Pour plus de détails : </p>

			<p><a href="#">http://www.anpme.ma/</a>
			</p>

			<h4>- L’Initiative Nationale pour le Développement Humain (INDH)</h4>

			<p>L’INDH est l’instrument de lutte contre la pauvreté, la précarité et l’exclusion sociale.</p>

			<p>Pour plus de détails : </p>

			<p><a href="#">L'Initiative Nationale Pour le Développement Humain</a>
			</p>

			<p><a href="#">Le Ministère de la Solidarité, de la Femme de la Famille et du Développement Social</a>
			</p>







</div>